body {
    background-image: linear-gradient(to left top, rgb(6, 6, 44), rgb(0, 0, 0));
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(196, 248, 248);
}

header {
    background-color: rgb(228, 239, 248);
    height: 9em;
    width: 100%;
    margin-bottom: 13%;
    position: sticky;
    top: 0%;
    display: flex;
    border-bottom: 0.3em solid rgb(50, 72, 117);
}

#liksHeader {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}

#liksHeader img {
    padding-top: 78%;
    height: 3em;
    transition: 130ms;

}

#liksHeader :hover {
    height: 3.4em;
}

#refButton {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 2.6%;
}

#refButton img {
    height: 3em;
    transition: 130ms;
}

#refButton img:hover {
    height: 3.3em;
}

#ref {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img,
a #ref {
    margin-left: 20px;
    margin-right: 20px;
}

#ref img.logo {
    margin-bottom: 17%;
}

#headerImgRef img{
    height: 3em;
    padding: 0.2%;
    background-color: rgb(228, 239, 248);
    border-radius: 14%;
}

#escudosRef img{
    height: 10em;
}

#titulosRef{
    padding-top: 4em;
}


img.logo {
    height: 95px;
    margin-top: 19%;
    transition: 130ms;
}

.logo:hover {
    height: 100px;
}

#voltar img {
    height: 45px;
}

a#voltar :hover {
    height: 50px;
    transition: 130ms;
}

p.introducao {
    font-size: 150%;
    margin-top: 7em;
    margin-left: 24em;
    width: 230em;
    text-align: justify;
}

img#minha-foto {
    float: right;
    height: 15em;
    margin-right: 34em;
    margin-top: 8em;
}

#redes {
    font-size: 25px;
    text-align: justify;
    margin-left: 32.7em;
    margin-bottom: 8em;
}

h1 {
    font-size: 60px;
    padding: 5px;
    background-image: url("../images/fundo-do-cruzeiro.png");
    display: inline;
    border-radius: 10px;
    font-family: Arial;
    text-shadow: 5px 5px black;
    border: 3px black solid;
}


.lista {

    font-size: 25px;
    width: 300px;
    margin-left: 780px;
}

li {
    margin-left: 50px;
    padding-right: 100px;
}


img.image {
    border-radius: 10px;
    height: 300px;
    width: 200px;
    margin: 0px;
    border: 2px black solid;
}

#h2f,
#h2s {
    margin-top: 80px;
    text-decoration: underline;
}

.h2cru {
    background-image: url("../images/fundo-do-cruzeiro.png");
    display: inline-block;
    border-radius: 10px;
    border: 2px black solid;
    text-shadow: 3px 2px black;
    margin-top: 100px;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 190%;
    padding: 0.2%;
}

div.cards {
    width: 13%;
    display: inline-block;
    padding-inline: 0%;
    transition: 130ms;
}

div.cards :hover {
    margin-bottom: 12%;
    transition: 130ms;
}

.textoIntro {
    font-size: 170%;
    margin: 0% 20% 2%;
}

table {
    height: 1%;
    width: 1em;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 170%;
}

thead {
    border: 4px black solid;
    background-color: rgba(141, 141, 141, 0.541);
    border-bottom: 2px black solid;
}

th {
    padding: 10px 15px;
}

tbody {
    border: 4px black solid;
    border-bottom: 0px;
    border-top: 0px;
    background-color: rgba(182, 182, 182, 0.664);
}

td {
    padding: 10px 15px;
}

tfoot {
    font-weight: bolder;
    background-image: url("../images/fundo-do-cruzeiro.png");
    border: 4px black solid;
    border-top: 2px black solid;
    text-shadow: 3px 3px black;
}

caption {
    background-color: rgba(86, 86, 235, 0.5);
    margin-bottom: 5px;
    font-style: italic;
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
}

.escudos {
    height: 7em;
}

.entreterimento {
    text-align: center;
}

a:link {
    color: rgb(224, 235, 250);
}

a:visited {
    color: rgb(107, 139, 160);
}

a:hover {
    color: rgb(20, 71, 105);
}

a:active {
    color: rgb(200, 245, 214);
}

.desenhos {
    padding-bottom: 5%;
}

.desenhos img,
video {
    height: 24em;
    padding: 1%;
    background-color: rgb(228, 228, 228);
    border: 0.3em solid rgb(59, 60, 63);
    border-radius: 3%;
}

.dica img {
    width: 20em;
}

footer {
    display: flex;
    height: 7em;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 90%;
    width: 18%;
    text-align: justify;
}

footer p {
    font-size: 90%;
}

footer p, h3{
    padding-left: 1%; 
    padding-right: 1%;
}